body {
  font-family: "Arial", "Meiryo", sans-serif; 
  font-size: 20px;
  text-align: center;
}
  
/* h1のフォントサイズを指定 */
h1{
font-size:40px;
border-bottom:solid 3px rgb(115, 115. 114);
}　

h1 {
.google-fonts{
// : Use a unique and descriptive class name
// : Use a value from 100 to 700
}
.josefin-sans- {
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}
}


h1 {
font-size: 40px;
border-bottom: solid 3px rgb(115, 115. 114); 
letter-spacing: 1.2em;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
position: relative;
color: black;
}

color: rgb(115, 115, 114);
text-shadow: 1px 1px 2px gray;
position: relative;

h1::after{
  content:""
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  background-color: rgb(115, 115, 114);
}




h1::after{
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  bottom:-3px
  height: 3px;
  background-color: rgb(115, 115, 114);
}

p{
color: black;
}

h2 {
font-size: 40px; /* h2タグのフォントサイズを指定 */
}

.name{
color: rgb(255,192,203)/* 名前、P、血液型、好きな食べ物の文字色をピンクに設定 */
}

.sky-blue {
color: skyblue; /* キーワードで色を指定 */
}

.pink {
color: rgb(255,192,203); /RGB値で色を指定/
}

/* div#basic 内の全ての要素を太字にする */
#basic p {
font-weight;
}

同じく 0